backend/node_modules/
backend/dist/
UI/node_modules/
UI/dist/
UI/src/components/.DS_Store
UI/src/components/.vscode/
UI/.env
backend/.env
backend/prisma/migrations/
Models/__pycache__/
Models/diet_model.joblib